.box{
    height: 100px;
    background-color:seagreen;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 30px;
    font-size:10px;
    }
.row2 div{
    text-align: center;
    height: 50px;
border: 1px solid black;
float: left;
background-color: grey;
margin-bottom: 10px;
}
.p-3{
border: 1px solid black;
background-color: peachpuff;
}
h1{
text-align: center;
}
img{
margin-top: 10px;
}